.App {
  text-align: center;
}
.moviecontainer{
  display: flex;
  flex-wrap: wrap; 
}
.movie{
  overflow: hidden;
  justify-content:center;
  margin: 1rem auto;
  float: none;
  margin-bottom: 10px; 
}
.cardTitle{
  min-height: 50px;
  max-height: 50px;
}