body {
    background-color: rgb(14, 14, 14);
}

.App {
    text-align: center;
}

#navBrand {
    color: #046582;
    font-weight: 1000px;
}

.headerText {
    margin-top: 75px;
    margin-bottom: 70px;
    font-weight: 600px;
    color: #046582;
    text-transform: uppercase;
}

.moviecontainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    margin-bottom: 15px;
}

.movie {
    overflow: hidden;
    justify-content: center;
    margin: 1rem auto;
    float: none;
    margin-bottom: 55px;
}

.movie { transition: all .5s ease-in-out; }

.cardTitle {
    min-height: 50px;
    max-height: 50px;
    font-weight: bold;
}

.cardImage {
    min-height: 550px;
    max-height: 550px;
}


.cardFooter {
    background-color: #046582;
}

#navLink:hover {
    color: #046582;
}

.like {
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #046582;
}

.container:hover .overlay {
    opacity: 95%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.nv-links a{
    color: rgba(255, 255, 255, 0.5);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-decoration: none;
}
.liked{
    color: red;
}
#cursor{
    cursor: pointer;
}
.fas{
    font-size: 20px;
}
#iconPadding{
    padding-left: 20px;
}
